.effects-content {
  background: #ffffff;
  padding: var(--spacing-48) var(--spacing-64);
}

.table-header,
.shadow-row {
  display: flex;
  align-items: center;
}

.table-header {
  padding-bottom: var(--spacing-12);
}

.divider {
  height: 1px;
  background: #000000;
  margin-bottom: var(--spacing-40);
}

.col-name {
  flex: 0 0 200px;
}
.col-value {
  flex: 0 0 420px;
  color: var(--grey-900);
}
.col-preview {
  flex: 0 0 300px;
  display: flex;
  justify-content: flex-start;
  padding-left: var(--spacing-64);
}

.table-header {
  .col-name,
  .col-value,
  .col-preview {
    color: var(--grey-900);
  }
}

.shadow-row {
  padding: var(--spacing-24) 0;

  .col-name {
    color: var(--grey-900);
  }
}

.preview-box {
  width: 64px;
  height: 48px;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #f3f3f3;
}
