.spacing-content {
  background: #ffffff;
  padding: var(--spacing-48) var(--spacing-64);
}

.table-header,
.spacing-row {
  display: flex;
  align-items: center;
}

.table-header {
  padding-bottom: var(--spacing-12);
}

.divider {
  height: 1px;
  background: #000000;
  margin-bottom: var(--spacing-40);
}

.col-name {
  flex: 0 0 200px;
}
.col-value {
  flex: 0 0 96px;
}
.col-bar {
  flex: 1;
  display: flex;
  align-items: center;
}

.table-header {
  .col-name,
  .col-value,
  .col-bar {
    color: var(--grey-900);
  }
}

.spacing-row {
  padding: var(--spacing-16) 0;
  .col-name {
    color: var(--grey-900);
  }
  .col-value {
    color: var(--grey-900);
  }
}

.bar {
  height: 20px;
  min-width: 4px;
  border-radius: 4px;
  background: #0177d2;
}
